html
body {
  background-color: none !important;
  background: none !important;
    border: none !important;
    box-shadow: none !important;
    transition:
      background-color 0.5s ease-in-out,
      background 0.5s ease-in-out,
      border 0.5s ease-in-out,
      box-shadow 0.5s ease-in-out !important;
}

.game-header {
  display: none !important;
}

.project-actions {
    background-color: light-dark(#0005, #0005) !important;
}