/* yt-Transparency */
html[dark],
html,
body,
#container.ytd-searchbox,
ytd-app,
#page-header-container,
#page-header,
#tabs-container,
#tabs-inner-container,
#chips-wrapper,
.navigation-container,
#cinematic-shorts-scrim,
#shorts-container,
.ytLrGuideResponseMask,
.ytLrPromoShelfRendererContainer,
ytd-item-section-renderer[page-subtype="playlist"] #header.ytd-item-section-renderer,
.ytd-engagement-panel-title-header-renderer,
.ytd-engagement-panel-section-list-renderer {
  background-color: #00000000 !important;
  background: none !important;
}

body::-webkit-scrollbar {
  display: none;
}

#tabs-divider,
#short-video-container #cinematic-container,
#frosted-glass {
  display: none !important;
}

#shorts-container {
  height: 98vh !important;
}

tp-yt-app-drawer > #contentContainer,
#guide-content,
ytd-mini-guide-renderer,
ytd-mini-guide-entry-renderer {
  background-color: #00000000 !important;
  background: none !important;
}

.ytLrPromoShelfRendererPreviewBackground {
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 60%) !important;
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%) !important;
  -webkit-mask-repeat: no-repeat !important;
  mask-repeat: no-repeat !important;
  -webkit-mask-size: cover !important;
  mask-size: cover !important;
}

/* yt-Toggle side guide $ Completely remove the side guide */
ytd-mini-guide-renderer,
[theater=""] #contentContainer::after {
  display: none !important;
}
tp-yt-app-drawer > #contentContainer:not([opened=""]),
#contentContainer:not([opened=""]) #guide-content,
ytd-mini-guide-renderer,
ytd-mini-guide-entry-renderer {
  background-color: var(--yt-spec-text-primary-inverse) !important;
  background: var(--yt-spec-text-primary-inverse) !important;
}
#content:not(:has(#contentContainer[opened=""])) #page-manager {
  margin-left: 0 !important;
}

ytd-app:not([guide-persistent-and-visible=""]) tp-yt-app-drawer > #contentContainer {
  background-color: var(--yt-spec-text-primary-inverse) !important;
}

ytd-alert-with-button-renderer {
  align-items: center !important;
  justify-content: center !important;
}

/* yt-clean side guide $ Remove YouTube Studio, Sports, Settings and the gfooter from the guide */
ytd-guide-section-renderer:has([title="YouTube Studio"], [title="Sport"], [title="Settings"]),
ytd-guide-renderer #footer {
  display: none !important;
}

ytd-guide-section-renderer,
ytd-guide-collapsible-section-entry-renderer {
  border: none !important;
}

/* yt-mini guide $ A minimal guide with an icon only sidebar similar to the tablet view but more entries */
body:not(:has([mini-guide-visible=""])) {
  #endpoint.ytd-guide-entry-renderer yt-formatted-string,
  h3.ytd-guide-section-renderer,
  #newness-dot,
  tp-yt-paper-item:not(:hover) yt-icon.guide-entry-badge {
    display: none !important;
  }

  #endpoint.ytd-guide-entry-renderer,
  ytd-guide-entry-renderer,
  ytd-guide-collapsible-section-entry-renderer,
  .ytd-guide-section-renderer,
  ytd-guide-section-renderer,
  ytd-guide-renderer > #sections,
  ytd-guide-renderer,
  #guide-inner-content,
  #guide-content,
  #guide-wrapper,
  tp-yt-app-drawer,
  #tabsContent,
  yt-tab-group-shape,
  yt-tab-group-shape > [role="tablist"] {
    width: fit-content !important;
  }

  tp-yt-paper-item {
    padding: 2px 10px !important;
  }

  yt-icon.ytd-guide-entry-renderer,
  yt-img-shadow.ytd-guide-entry-renderer {
    margin: 0 !important;
  }

  tp-yt-paper-tabs {
    margin: auto 0 !important;
  }
  #page-manager {
    margin-left: 80px !important;
  }

  #tabsContainer.tp-yt-paper-tabs {
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  ytd-app:not([guide-persistent-and-visible=""]) tp-yt-app-drawer > #contentContainer {
    background: transparent !important;
  }
}

ytd-alert-with-button-renderer {
  align-items: center !important;
  justify-content: center !important;
}

ytd-two-column-browse-results-renderer[page-subtype="playlist"] {
  width: fit-content !important;
}

/* yt-Transparent header */
#masthead-container {
  #background.ytd-masthead {
    background-color: #00000000 !important;
  }
}

.ytSearchboxComponentSearchButton {
  background-color: var(--yt-spec-text-primary-inverse) !important;
  color: var(--yt-live-chat-text-input-field-placeholder-color) !important;
}

/* yt-no voice search */
#voice-search-button {
  display: none !important;
}

/* yt-Hide filter chips $ Hide the chips at the top of the feed homepage if unused */
#chips-wrapper {
  top: 0 !important;
}

[page-subtype="home"] .ytd-two-column-browse-results-renderer #header {
  display: none !important;
}

/* yt-early New To You chip */
#chips {
  display: flex !important;
}

#chips > yt-chip-cloud-chip-renderer:nth-last-child(1) {
  order: 1 !important;
  margin-right: 12px !important;
}

#chips > yt-chip-cloud-chip-renderer:not(:nth-last-child(1)) {
  order: 2 !important;
}

#chips > yt-chip-cloud-chip-renderer:nth-child(1) {
  order: 1 !important;
}

/* yt-Compact feed $ Reduce spacing, Show menu button on hover, inline details */
ytd-rich-item-renderer {
  margin-bottom: 15px !important;
  [rendered-from-rich-grid] {
    --ytd-rich-item-row-usable-width: calc(100% - var(--ytd-rich-grid-gutter-margin) * 1) !important;
  }

  #metadata.ytd-video-meta-block {
    flex-direction: row !important;

    #metadata-line span:nth-child(3) {
      height: 1em !important;
      margin-left: 1em !important;
    }
  }
}

ytd-rich-grid-media {
  border-radius: 1.2em;
  height: 100% !important;

  ytd-menu-renderer #button {
    opacity: 0 !important;
    transition: opacity 0.3s ease-in-out !important;
  }
  :hover ytd-menu-renderer #button {
    opacity: 1 !important;
  }
}

/* yt-thumbnail hover $ Zoom in the inline thumbnail previews while hovering */
#inline-preview-player {
  transition: scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s !important;
  scale: 1 !important;
}

#video-preview-container:has(#inline-preview-player) {
  transition: scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  border-radius: 1.2em !important;
  overflow: hidden !important;
  scale: 1 !important;
}

#video-preview-container:has(#inline-preview-player):hover {
  scale: 1.25 !important;
  box-shadow: #0008 0px 0px 60px;
  transition: scale 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s !important;
}
ytd-app #content {
  opacity: 1 !important;
  transition: opacity 0.3s ease-in-out !important;
}
ytd-app:has(#video-preview-container:hover) #content {
  opacity: 0.5 !important;
  transition: opacity 4s ease-in-out 1s !important;
}

/* yt-no distractions $ No shorts and other obsolete sections in the feed */
#contents ytd-rich-section-renderer {
  display: none !important;
}

ytd-merch-shelf-renderer,
.annotation {
  display: none !important;
}

/* yt-Transparent video background */
.html5-main-video,
.html5-video-container,
#movie_player,
#container,
#ytd-player,
#player-container,
#player-full-bleed-container,
#full-bleed-container,
ytlr-player {
  background-color: #00000000 !important;
  background: transparent !important;
}

#cinematics {
  display: none !important;
}

.ytp-gradient-bottom {
  display: none !important;
}

/* yt-no ambient mode */
#cinematics-container {
  display: none !important;
}

/* yt-theater: zen view $ Make the theater view video fit the full window size */
#content:has(ytd-masthead[theater=""]) #full-bleed-container {
  height: 100vh !important;
  max-height: 100vh !important;
  top: 0 !important;
}

#masthead-container,
#columns #secondary {
  transition: all 0.3s ease-in-out 0.5s !important;
}

body:has([fullscreen=""], [theater=""]):not(:has(ytd-watch-flexy[hidden=""])) #masthead-container:not(:has(.ytSearchboxComponentInputBoxHasFocus)) {
  top: -40px !important;
  opacity: 0 !important;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95) !important;
  &:hover {
    opacity: 1 !important;
    top: 0 !important;
  }
}

ytd-app:has([fullscreen=""], [theater=""]):not(:has(ytd-watch-flexy[hidden=""])) {
  --ytd-toolbar-height: 0px !important;

  #page-manager {
    margin: 0 !important;
  }
}

/* yt-zen view comments $ In theater mode, move comments to the edge of the video on left or right and show on hover */
#content:has([data-title-no-tooltip="Full screen"]):has([data-title-no-tooltip="Default view"]) #columns #secondary {
  scale: 0 !important;
  display: none !important;
}

ytd-comments {
  transition: all 0.5s ease-in-out !important;
}

#content:has([data-title-no-tooltip="Full screen"]):has([data-title-no-tooltip="Default view"]) ytd-comments {
  background-color: var(--yt-live-chat-shimmer-background-color) !important;
  backdrop-filter: blur(20px) !important;
  padding: 0 2em !important;
  border-radius: 2em 0 0 2em !important;
  max-height: calc(100vh - 175px) !important;
  overflow-y: scroll !important;
  position: fixed !important;
  z-index: 1000 !important;
  top: 3vh !important;
  right: -42em !important;
  width: 40em !important;
  height: 90vh !important;
  opacity: 0 !important;
  &:hover {
    opacity: 1 !important;
    right: 0 !important;
  }
}

/* yt-zen view comments on left */
#content:has([data-title-no-tooltip="Full screen"]):has([data-title-no-tooltip="Default view"]) ytd-comments {
  border-radius: 0 2em 2em 0 !important;

  left: -40em !important;
  &:hover {
    left: 0 !important;
  }
}

/* yt-zen comments solid $ Make above Zen View comments background solid instead of blur */
#content:has([data-title-no-tooltip="Full screen"]):has([data-title-no-tooltip="Default view"]) ytd-comments {
  backdrop-filter: none !important;
  background-color: var(--yt-spec-text-primary-inverse) !important;
}

/* yt-transparent overlay chat $ Make the live chat appear as an overlay in theater mode right side edge. */
#content:has([data-title-no-tooltip="Full screen"]):has([data-title-no-tooltip="Default view"]) #chat {
  position: absolute !important;
  height: 800px !important;
  top: 50vh !important;
  transform: translateY(-50%) !important;
  opacity: 0.8 !important;
}

#content:has([data-title-no-tooltip="Full screen"]):has([data-title-no-tooltip="Default view"]) yt-live-chat-renderer {
  background: none !important;
  background-color: transparent !important;
}

#content:has([data-title-no-tooltip="Exit full screen"]) ytd-live-chat-frame {
  background-color: var(--app-drawer-content-container-background-color) !important;
}

/* yt-Misc */
#content #dismissible:hover {
  ytd-video-meta-block {
    opacity: 1 !important;
  }
}

#content:has(ytd-masthead[theater=""]:not([fullscreen=""])) #panels-full-bleed-container {
  width: 0 !important;
}

ytd-two-column-browse-results-renderer:has(.ytd-playlist-video-renderer) {
  margin-left: 100px !important;
}

#frosted-glass {
  display: none !important;
}

/* yt-better captions $ Caption background has blur */
.caption-window {
  backdrop-filter: blur(10px) brightness(70%) !important;
  border-radius: 1em !important;
  padding: 1em !important;
  box-shadow: #0008 0 0 20px !important;
  width: fit-content !important;
}

/* yt-Keep player shadow $ Remove the shadow around the player when disabled */
.ytp-gradient-bottom {
  display: initial !important;
}

/* yt-fix new feed layout $ Revert the new ugly feed layout that barely fits 3 columns of videos */
ytd-rich-item-renderer[rendered-from-rich-grid] {
  @media only screen and (min-width: 1400px) {
    --ytd-rich-grid-items-per-row: 4 !important;

    @media only screen and (min-width: 1700px) {
      --ytd-rich-grid-items-per-row: 5 !important;

      @media only screen and (min-width: 2180px) {
        --ytd-rich-grid-items-per-row: 6 !important;
      }
    }
  }
}

ytd-rich-item-renderer[is-in-first-column=""] {
  margin-left: calc(var(--ytd-rich-grid-item-margin) / 2) !important;
}

#contents {
  padding-left: calc(var(--ytd-rich-grid-item-margin) / 2 + var(--ytd-rich-grid-gutter-margin)) !important;
}

/* yt-Immersive search $ Smooth blur and zoom effect for searhbar */
#page-manager,
yt-searchbox {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important;
}

#masthead yt-searchbox button[aria-label="Search"] {
  display: none !important;
}

.ytSearchboxComponentInputBox {
  border-radius: 2em !important;
}

yt-searchbox:has(.ytSearchboxComponentInputBoxHasFocus) {
  position: relative !important;
  left: 0vw !important;
  top: -30vh !important;

  height: 40px !important;
  max-width: 600px !important;
  scale: 1 !important;

  @media only screen and (min-width: 1400px) {
    height: 60px !important;
    max-width: 700px !important;
    scale: 1.1 !important;
  }

  .ytSearchboxComponentInputBox,
  #i0 {
    background-color: #fffb !important;

    @media (prefers-color-scheme: dark) {
      background-color: #000b !important;
    }

    box-shadow: black 0 0 30px !important;
  }

  #i0 {
    margin-top: 10px !important;

    @media only screen and (min-width: 1400px) {
      margin-top: 30px !important;
    }
  }
}

.ytd-masthead #center:has(.ytSearchboxComponentInputBoxHasFocus) {
  height: 100vh !important;
  width: 100vw !important;
  left: 0 !important;
  top: 0 !important;
  position: fixed !important;
  justify-content: center !important;
}

#content:has(.ytSearchboxComponentInputBoxHasFocus) #page-manager {
  filter: blur(20px) !important;
  scale: 1.05 !important;
}

/* yt-Addon : Viewstats */
.card {
  background: var(--yt-spec-badge-chip-background) !important;
}

.vs-btn {
  background: var(--yt-spec-badge-chip-background) !important;
  color: var(--yt-spec-text-primary-inverse) !important;
  border-radius: 1em !important;
  padding: 0.5em 1em !important;
  margin: 0.5em !important;
}

/* yt-Addon : timed comments */
.__youtube-timestamps__stamp {
  scale: 3 !important;
  border-radius: 1.5px !important;
  transition: all 0.3s ease-in-out !important;
  z-index: 10000000000000 !important;

  &:hover {
    scale: 5 !important;
  }
}

.__youtube-timestamps__preview-wrapper {
  scale: 1.2 !important;
  transform: translateX(16%) !important;
  .__youtube-timestamps__preview {
    border-radius: 1em !important;
    backdrop-filter: blur(20px) !important;
    background-color: #000000bb !important;
    border: solid 2px gray !important;

    .__youtube-timestamps__preview__avatar {
      height: 2.5em !important;
      width: 2.5em !important;
      border-radius: 0.5em !important;
    }

    .__youtube-timestamps__preview__text-stamp {
      background-color: #ffaaaa !important;
      padding: 0.1em 0.3em !important;
      border-radius: 0.5em !important;
      color: #000 !important;
    }

    .__youtube-timestamps__preview__name,
    .__youtube-timestamps__preview__text {
      color: #ffffff !important;
    }
  }
}

.comments-container {
  div.wrapper {
    background-color: transparent !important;
  }

  div.clickable-comment,
  div.replies {
    background-color: #00000077 !important;
    backdrop-filter: blur(20px) !important;
    padding: 1em !important;
    margin-bottom: 1em !important;
    border-radius: 1em !important;
    max-width: 40em !important;
    transition: all 0.4s ease-in-out !important;

    .likes-and-replies {
      opacity: 0.3 !important;
    }
  }
}

/* yt-YT TV $ YouTube TV player modifications */
.ytLrWatchDefaultControlsBackground,
ytlr-watch-metadata,
.ytVirtualListItem:not(.ytVirtualListItemSelected) ytlr-comment-renderer,
.ytLrChannelHeaderRendererMetadata,
ytlr-surface-page::before {
  background-color: #fff7 !important;
  backdrop-filter: blur(15px) !important;

  @media (prefers-color-scheme: dark) {
    background-color: #0007 !important;
  }
}

.ytLrWatchDefaultControlsBackground {
  width: 80rem !important;
  transform: translateX(-50%) !important;
  left: 50% !important;
  border-radius: 1em 1em 0 0 !important;
}

.ytLrAnimatedOverlayContainer,
ytlr-compact-link-renderer {
  background-color: transparent !important;
  font-size: 0.7em !important;
}

/* yt-New player blur */
.ytp-left-controls {
  .ytp-play-button,
  .ytp-volume-area,
  .ytp-time-display.notranslate > span,
  .ytp-chapter-container > button,
  .ytp-prev-button,
  .ytp-next-button {
    backdrop-filter: blur(5px) !important;
    background-color: #0001 !important;
  }
}

.ytp-right-controls {
  backdrop-filter: blur(5px) !important;
  background-color: #0001 !important;
}

.ytp-popup {
  backdrop-filter: blur(10px) !important;
  background-color: #0007 !important;
}

.ytd-reel-shelf-renderer {
  display: none !important;
}